$primary: #192b49;
$secondary: rgb(114, 214, 186);
$primary-light: #2f4d80;
$light: rgb(237, 238, 244);
$link: #007bff;

$navbar-height: 56px;

$profile-image-size: 15vw;
$profile-image-size-half: 7.5vw;
$profile-image-size-sm: 50vw;
$profile-image-size-half-sm: 25vw;